/* @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,500;1,300;1,400;1,700&display=swap");
 */
* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  font-family: "Raleway", sans-serif;
  min-height: 1500px;
}

/* .main {
  background-color: blueviolet;
  color: white;
  margin-bottom: 80px;
  padding: 1px;
}

.main_title {
  margin-top: 40px;
  margin-bottom: 60px;
}

.footer {
  background-color: burlywood;
  color: black;
  margin-top: 50px;
  padding: 1px;
}

.footer_title {
  margin-top: 50px;
} */

/* .elem {
  width: 250px;
  height: 250px;
  background-color: gold;
  border: 30px solid steelblue;
  padding: 30px;
  margin: 0 auto;
} */

/* .black { */
/*  height: 600px;
  margin: 50px 50px;
  background-color: steelblue; */
/* background-image: url("../react.svg");
  background-size: 150px;
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: center; */
/* background-image: linear-gradient(
      rgba(0, 0, 255, 0.132),
      rgba(137, 43, 226, 0.242),
      rgba(255, 166, 0, 0.698),
      rgba(255, 0, 0, 0.674)
    ),
    url("../react.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; */
/* } */

/* .pacman {
  margin: 50px;
  width: 100px;
  border-top: 100px gold solid;
  border-right: 100px solid transparent;
  border-bottom: 100px gold solid;
  border-left: 100px gold solid;
  border-radius: 50%;
} */

.card {
  /* width: 80%;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 80px;
  background-color: slateblue;
  color: #fff;
  height: 500px; */
  /* padding: 40px 20px; */
}

/* .img {
  display: block;
  width: 200px;
  margin: 0 auto;
} */

.title {
  /* letter-spacing: 5px;
  word-spacing: 5px; */

  /* width: 150px; */
  /*  border: 2px solid #fff;
  overflow-wrap: break-word;

  text-transform: uppercase;

  margin: 0 auto; */
}

/* .paragraph {
  text-transform: lowercase;
  text-align: justify;
  border: 2px red solid;
  font-weight: 500;
  font-style: italic;
  font-size: 50px;
  line-height: 1.5;
} */

/* .paragrafphdos {
  text-transform: uppercase;
} */

/* html {
  font-size: 40px;
} */

/* .container {
  background-color: slateblue;
  color: #fff;
  padding: 30px;
  width: 100%;
  height: 100vh;
  height: 300px;
  width: 500px;
} */

/* h2 {
  margin-bottom: 20px;
  border: 1px solid white;
  width: 150pt;
} */

/* .titleuno {
  font-size: 1.5rem;
} */

/* .titledos,
.titletres {
  font-size: 24px;
} */

/* .titlecuatro {
  font-size: 2em;
} */

/* .container {
  width: 90%;
  height: 1500px;
  border: 2px solid #000;
  margin: 80px auto;
  position: absolute;
} */

div {
  /* width: 150px; */
  /* height: 100px;
  font-size: 1.3rem;
  line-height: 100px;
  text-align: center;
  color: #fff; */
}

/* .static {
  width: 150px;
  background-color: midnightblue;
} */

.relative {
  /*   width: 150px;
  background-color: tomato;
  position: relative; */
  /* top: 300px; */
  /* right: 100px; */
  /* left: -100px; */
  /* bottom: 100px; */
  /* z-index: 101; */
}

/* .absolute {
  width: 150px;
  background-color: purple;
  position: absolute;
  top: 60px;
  left: 40px;
  z-index: 150;
} */

/* .fixed {
  width: 150px;
  background-color: royalblue;
  position: fixed;
  top: 100px;
  left: 80px;
  z-index: 1001;
} */

/* .container {
  height: 200px;
  background-color: salmon;
} */

/* .sticky {
  width: 140px;
  height: 140px;
  background-color: slateblue;
  position: sticky;
  bottom: 50px;
  top: 50px;
} */
